{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>

    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('app_category_show', { id: category.id }) }}">{{ category.name }}</a>
            </li>
        {% else %}
            <li>No category found.</li>
        {% endfor %}
    </ul>
{% endblock %}
